.nombre-sitio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
  gap: 3rem;
  border-bottom: 1px solid #e1e1e1;
}

.nombre-sitio span {
  color: dodgerblue;
}

.contenedor-navegacion {
  display: contents;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.contenedor-navegacion a {
  display: inline-block;
  position: relative;
  padding: 1rem 5rem;
  font-size: 2.5rem;
  overflow: hidden;
}
.contenedor-navegacion a:hover {
  color: dodgerblue;
  cursor: pointer;
}

.contenedor.categorias h2 {
  font-size: 8rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.listado-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}
.categoria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 calc(25%-15px);
  width: 30%;
  min-width: 280px;
  margin-bottom: 3rem;
}
.categoria a {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  font-size: 3rem;
}

.categoria a:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 2rem;
}
.sobre-nosotros {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
}
.imagen-nosotros {
  width: 50%;
  min-height: 100%;
}

.texto-nosotros {
  width: 50%;
  background-color: dodgerblue;
  min-height: 100%;
  max-height: 100%;
}
.texto-nosotros h2 {
  font-size: 6rem;
  text-align: center;
  color: white;
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.texto-nosotros p {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
}

.contenido-principal.contenedor h2 {
  font-size: 8rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.contenido-principal.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.producto {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100%;
}

.producto img {
  width: 70%;
}
.texto-producto {
  width: 30%;
}
@media (width<768px) {
  .contenedor-navegacion a {
    display: inline-block;
    position: relative;
    padding: 1rem 5rem;
    width: 100%;
    margin-left: 40%;
    font-size: 2.5rem;
    overflow: hidden;
  }
}
